# SQL Database
DB_NAME=ai-assistant
DB_USER=root
DB_PASS=root

# Vector Database
QDRANT_KEY=my-test-api-key

# LLM
BOT__LLMS__OPENAI_API_KEY=your-api-key
BOT__LLMS__OPENAI_BASE_URL=https://openrouter.ai/api/v1

# Agent config
BOT__AGENT__IS_IN_MEMORY=True

# Auth (generate with: openssl rand -hex 32)
BOT__AUTH__SECRET_KEY=your-secret-key

# Tools
BOT__TOOLS__GITHUB_PAT=your-github-pat
